<div class="columns">
    <div class="container">
        <div class="row">
            <div class="col col-md-4 col-xs-12">
                <object data="/static/images/flex-landing/icon-api@2x.svg" type="image/svg+xml"></object>
                <h2>Open API</h2>
                <p>
                    Access and control all of your data for integrations and apps.
                </p>
            </div>
            <div class="col col-md-4 col-xs-12">
                <object data="/static/images/flex-landing/icon-time-attendance@2x.svg" type="image/svg+xml"></object>
                <h2>Time and Attendance</h2>
                <p>
                    Compare when contractors start work to the schedule for payroll accuracy.
                </p>
            </div>
            <div class="col col-md-4 col-xs-12">
                <object data="/static/images/flex-landing/icon-realtime@2x.svg" type="image/svg+xml"></object>
                <h2>Real-Time</h2>
                <p>
                    Staffjoy automatically alerts contractors about schedule changes.
                </p>
            </div>
        </div>
    </div>
</div>
