<div class="middle">
    <div class="flex-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-3 content-parent center hidden-xs hidden-sm">
                    <object data="/static/images/flex-landing/icon-savemoney@2x.svg" type="image/svg+xml" class="content"></object>
                </div>
                <div class="col-md-9 col-sm-12 content-parent card panel">
                    <div class="content">
                        <object data="/static/images/flex-landing/icon-savemoney@2x.svg" type="image/svg+xml" class="hidden-md hidden-lg"></object>
                        <h2>Save Money with Optimal Shifts</h2>
                        <p>
                            Over-scheduling wastes money. Under-scheduling delays fulfillment. Staffjoy's algorithms build schedules that precisely match your business's forecasted needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 content-parent card panel">
                    <div class="content">
                        <object data="/static/images/flex-landing/icon-oneclick@2x.svg" type="image/svg+xml" class="hidden-md hidden-lg"></object>
                        <h2>Claim Work In One Click</h2>
                        <p>
                            Staffjoy optimizes the contractor scheduling workflow: Open the app, see available shifts, then click to claim them.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 content-parent center hidden-xs hidden-sm">
                    <object data="/static/images/flex-landing/icon-oneclick@2x.svg" type="image/svg+xml" class="content"></object>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-3 content-parent center hidden-xs hidden-sm">
                    <object data="/static/images/flex-landing/icon-scale@2x.svg" type="image/svg+xml" class="content"></object>
                </div>
                <div class="col-md-9 col-sm-12 content-parent card panel">
                    <div class="content">
                    <object data="/static/images/flex-landing/icon-scale@2x.svg" type="image/svg+xml" class="hidden-md hidden-lg"></object>
                        <h2>Scale Your Workforce</h2>
                        <p>
                            Manual operations do not scale. Staffjoy sets your scheduling to autopilot. As your workforce grows, the time it takes you to schedule stays the same. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
