<div class="flex-panel cta" id="flex-overview">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 content-parent">
                <div class="content">
                    <h1>Marketplace Scheduling for Contractors</h1>

                    <p>Staffjoy calculates when you need shifts, then contractors claim the ones they want.</p>

                    <a href="{{ url_for("auth.free_trial", plan="flex-v2") }}" class="sign-up btn btn-primary btn-lg">Set up a {{ config.FREE_TRIAL_DAYS }} day trial</a>
                </div>
            </div>
        </div>
    </div>
</div>
