<div class="homepage-panel" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 content-parent">
                <div class="content">
                    <h1>{{config.DESCRIPTION}}</h1>

                    <p>{{config.DESCRIPTION_DETAIL}}</p>

                    <a href="{{ url_for("main.sign_up") }}" class="sign-up btn btn-primary btn-lg">Try It Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
