<div class="homepage-panel" id="panel-demand">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 content-parent center hidden-xs">
                <img src="/static/images/homepage/demand.png" alt="Workforce Demand" class="content"/>
            </div>
            <div class="col-sm-7 col-xs-12 content-parent">
                <div class="content">
                    <h2>Tell us when you need workers</h2>
                    <p>
                        Every week, choose the number of workers that you need, hour by hour, for each part of your business. Each worker has a customizable profile where you can set constraints, such as how many shifts they should work.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 center visible-xs">
                <img src="/static/images/homepage/demand.png" alt="Workforce Demand" class="content"/>
            </div>
        </div>
    </div>
</div>
