<div class="homepage-panel" id="panel-schedule">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 content-parent center hidden-xs">
                <img src="/static/images/homepage/schedule.png" alt="StaffJoy Schedule" class="content"/>
            </div>
            <div class="col-xs-12 col-sm-7 content-parent">
                <div class="content">
                    <h2>We create the optimal schedule</h2>
                    <p>
                        After testing millions of possibilities, we pick the schedule that meets the rules of your business and minimizes labor costs.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 content-parent center visible-xs">
                <img src="/static/images/homepage/schedule.png" alt="StaffJoy Schedule" class="content"/>
            </div>
        </div>
    </div>
</div>
