<div class="homepage-panel" id="panel-availability">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 content-parent bottom-padding">
                <div class="content">
                    <h2>Choose when you want to work</h2>
                    <p>
                        Using the mobile-friendly Planner App, workers can set their availability to work, can see their scheduled shifts, and can claim open shifts.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 content-parent center">
                <img src="/static/images/homepage/availability.png" alt="Workers set availability" class="content"/>
            </div>
        </div>
    </div>
</div>
