<div class="columns">
    <div class="container">
        <div class="row">
            <div class="col col-md-4 col-xs-12">
                <object data="/static/images/boss-landing/icon-compliance@2x.svg" type="image/svg+xml"></object>
                <h2>Compliance</h2>
                <p>
                    Control how many hours per workday, hours per workweek, and consecutive days each employee works.
                </p>
            </div>
            <div class="col col-md-4 col-xs-12">
                <object data="/static/images/boss-landing/icon-timeclock@2x.svg" type="image/svg+xml"></object>
                <h2>Timeclock</h2>
                <p>
                    Workers can clock in and out of shifts from their mobile device.
                </p>
            </div>
            <div class="col col-md-4 col-xs-12">
                <object data="/static/images/boss-landing/icon-attendance@2x.svg" type="image/svg+xml"></object>
                <h2>Attendance</h2>
                <p>
                    Manage time off requests, easily compare scheduled shifts with hours worked, and export to payroll.
                </p>
            </div>
        </div>
    </div>
</div>
