<div class="middle">
    <div class="boss-panel save-money">
        <div class="container">
            <div class="row">
                <div class="col-md-3 content-parent center hidden-xs hidden-sm">
                    <object data="/static/images/boss-landing/icon-scheduling@2x.svg" type="image/svg+xml" class="content"></object>
                </div>
                <div class="col-md-9 col-sm-12 content-parent card panel">
                    <div class="content">
                        <object data="/static/images/boss-landing/icon-scheduling@2x.svg" type="image/svg+xml" class="hidden-md hidden-lg"></object>
                        <h2>Save Money with Efficient Scheduling</h2>
                        <p>
                            Over-scheduling costs money. Under-scheduling loses business. Staffjoy matches labor with when your business needs it. Optimize labor - your most expensive resource - with Staffjoy's sophisticated artificial intelligence.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="boss-panel automated-decisions">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 content-parent card panel">
                    <div class="content">
                        <object data="/static/images/boss-landing/icon-automate@2x.svg" type="image/svg+xml" class="hidden-md hidden-lg"></object>
                        <h2>Automate Decisions</h2>
                        <p>
                            Compliance is tough. You know the rules - 8 hours per day, 40 hours per week, 6 days in a row - but did you double check that math when you asked somebody to cover an extra shift? You could have just triggered overtime pay without even knowing it! Staffjoy follows your rules to make business-critical decisions quickly.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 content-parent center hidden-xs hidden-sm">
                    <object data="/static/images/boss-landing/icon-automate@2x.svg" type="image/svg+xml" class="content"></object>
                </div>
            </div>
        </div>
    </div>

    <div class="boss-panel happy">
        <div class="container">
            <div class="row">
                <div class="col-md-3 content-parent center hidden-xs hidden-sm">
                    <object data="/static/images/boss-landing/icon-employeeHappy@2x.svg" type="image/svg+xml" class="content"></object>
                </div>
                <div class="col-md-9 col-sm-12 content-parent card panel">
                    <div class="content">
                    <object data="/static/images/boss-landing/icon-employeeHappy@2x.svg" type="image/svg+xml" class="hidden-md hidden-lg"></object>
                        <h2>Make Employees Happy</h2>
                        <p>
                            Don't put a morning person on the closing shift. Engage employees by having them pick the hours they prefer, easily request days off, and claim available shifts from their mobile device. Staffjoy checks that they get enough rest in-between shifts, and it also tries to put people in the times they prefer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
