<div class="boss-panel cta" id="boss-overview">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 content-parent">
                <div class="content">
                    <h1>Automate Employee Scheduling</h1>

                    <p>Save money and make employees happy by having Staffjoy manage your workforce.</p>

                    <a href="{{ url_for("auth.free_trial", plan="boss-v2") }}" class="sign-up btn btn-primary btn-lg">Set up a {{ config.FREE_TRIAL_DAYS }} day trial</a>
                </div>
            </div>
        </div>
    </div>
</div>
