<div class="panel card" id="attendance-summary">
    <div class="panel-heading page-header">
        <div class="pull-right">
            <button class="btn btn-default btn-sm button-align collapse-button collapse-btn-attendance-summary" type="button" data-toggle="collapse" data-target=".day-attendance-container-summary">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
        </div>
        <h3 class="panel-title">Attendance Summary</h3>
    </div>
    <div class="container-fluid table-responsive panel-collapse collapse in day-attendance-container-summary" data-collapse-id="attendance-summary">
        <div class="panel-body align-side" id="attendance-table-summary"></div>
    </div>
</div>
