<table class="table table-striped table-hover table-condensed-more no-bottom">
    <thead>
        <th class="col-xs-3">Worker</th>
        <th class="col-xs-2 text-center">Shifts</th>
        <th class="col-xs-3 text-center">Timeclocks</th>
        <th class="col-xs-1 text-center">Scheduled</th>
        <th class="col-xs-1 text-center">Paid</th>
        <th class="col-xs-2 text-center">Notes</th>
    </thead>
    <tbody>
        {{#content}}
        <tr>
            <td>{{userDisplayName}} ({{roleName}})</td>
            <td class="table-list text-center">
                {{#shifts}}
                <span>{{start}} - {{stop}}</span>
                {{/shifts}}
            </td>
            <td class="table-list text-center">
                {{#timeclocks}}
                <span class="clickable" data-id="{{id}}" data-role-id="{{role_id}}" data-user-id="{{user_id}}">
                    {{start}} - {{stop}}
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </span>
                {{/timeclocks}}
                {{^timeclocks}}
                    {{#inPast}}
                    <span class="new-timeclock" data-role-id="{{roleId}}" data-user-id="{{userId}}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                    </span>
                    {{/inPast}}
                {{/timeclocks}}
            </td>
            <td class="text-center">{{totalExpected}}</td>
            <td class="text-center">{{totalTime}}</td>
            <td class="table-list text-center">
                {{#paid}}
                    <span data-id="{{timeOffRequest.id}}" data-user-id="{{timeOffRequest.user_id}}" data-role-id="{{timeOffRequest.role_id}}" class="label edit-time-off-request label-primary">Paid Time Off</span>
                {{/paid}}
                {{#unpaid}}
                    <span data-id="{{timeOffRequest.id}}" data-user-id="{{timeOffRequest.user_id}}" data-role-id="{{timeOffRequest.role_id}}" class="label edit-time-off-request label-info">Unpaid Time Off</span>
                {{/unpaid}}
                {{#sick}}
                    <span data-id="{{timeOffRequest.id}}" data-user-id="{{timeOffRequest.user_id}}" data-role-id="{{timeOffRequest.role_id}}" class="label edit-time-off-request label-warning" >Sick Time Off</span>
                {{/sick}}
                {{#denied}}
                    <span data-id="{{timeOffRequest.id}}" data-user-id="{{timeOffRequest.user_id}}" data-role-id="{{timeOffRequest.role_id}}" class="label edit-time-off-request label-info" >Denied Time Off</span>
                {{/denied}}
            </td>
        </tr>
        {{/content}}
    </tbody>
</table>
