<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="panel card">
        <div class="panel-heading page-header">
            <h3 class="panel-title">
                {{name}} Preferences
            </h3>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 card-elements roomy">
                    <span class="card-element card-element-active" data-param="name">
                        <div class="title">Name</div>
                        <div class="content">{{ name }}</div>
                    </span>
                    <span class="card-element">
                        <div class="title">Timezone</div>
                        <div class="content">{{ timezoneDisplay }}</div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="location-managers-placeholder"/>
    <div class="add-location-manager-modal-placeholder"/>
    <div class="danger-zone-placeholder"></div>
</div>
