<div class="modal smoky-bg" id="TimeclockModal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="TimeclockModalLabel-{{id}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="TimeclockModalLabel-{{id}}">{{title}}</h4>
            </div>
            <div class="modal-body timeclock-edit">
                <div class="container-fluid">
                    {{#userSelection}}
                    <div class="row info-display">
                        <span>Worker:</span>
                        <div class="dropdown display-text">
                            <select class="select-worker-{{id}}"></select>
                        </div>
                    </div>
                    {{/userSelection}}
                    {{#selectedUser}}
                    <div class="row info-display">
                        <span>Worker:</span>
                        <span class="display-text">{{selectedUser.name}}  ({{selectedUser.role}})</span>
                    </div>
                    {{/selectedUser}}
                    <div class="row">
                        <span>Start:</span>
                        <input type="text" class="form-control" id="start-datetimepicker-{{id}}"/>
                    </div>
                    <div class="row">
                        <span>Stop:</span>
                        <input type="text" class="form-control" id="stop-datetimepicker-{{id}}"/>
                    </div>
                    <div class="row info-display">
                        <span>Duration:</span>
                        <span class="display-text" id="durationText-{{id}}"></span>
                        <div id="durationWarning-{{id}}" class="alert hidden alert-danger">
                            Start time must be before stop time.
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{#newTimeclockMode}}
                    <button type="button" id="save-button-{{id}}" class="btn btn-primary btn-sm">Save</button>
                {{/newTimeclockMode}}
                {{^newTimeclockMode}}
                    <button type="button" id="save-button-{{id}}" class="btn btn-primary btn-sm">Save</button>
                    <button type="button" id="delete-button-{{id}}" class="btn btn-danger btn-sm">Delete</button>
                {{/newTimeclockMode}}
                <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
