<div class="col-sm-6 col-sm-offset-3 col-xs-12 role-new">
    <div class="panel card">
        <div class="panel-heading page-header">
            <h3 class="panel-title">Create a New Role</h3>
        </div>

        <div class="panel-body">
            <form method="post" class="form role-add-form" role="form">
                <div class="form-group required">
                    <label class="control-label" for="name">Name</label>
                    <input class="form-control" name="name" required="" type="text" placeholder="Mathematician" id="role-new-name">
                </div>
                <input class="btn btn-success submit-role-create action-button" id="submit" name="submit" type="submit" value="Create" >
                <input class="btn btn-link cancel-role-create action-button btn-xs" id="cancel" name="cancel" type="submit" value="Cancel" >
            </form>
        </div>
    </div>
</div>
