<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <h2>{{name}}</h2>
    <div class="panel card">
        <div class="panel-heading page-header">
            <h3 class="panel-title">
                Preferences
            </h3>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 card-elements roomy">
                    <span class="card-element condensed card-element-active edit-param" data-param="name">
                        <div class="title">Name</div>
                        <div class="content">{{ name }}</div>
                    </span>
                    <span class="card-element condensed card-element-active edit-param" data-param="enable_timeclock">
                        <div class="title">Timeclock</div>
                        <div class="content">
                            {{#enable_timeclock}}On{{/enable_timeclock}}
                            {{^enable_timeclock}}Off{{/enable_timeclock}}
                        </div>
                    </span>
                    <span class="card-element condensed card-element-active edit-param" data-param="enable_time_off_requests">
                        <div class="title">Time Off Requests</div>
                        <div class="content">
                            {{#enable_time_off_requests}}On{{/enable_time_off_requests}}
                            {{^enable_time_off_requests}}Off{{/enable_time_off_requests}}
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="role-users-placeholder"></div>
    <div class="recurring-shifts-placeholder"/>
    <div class="scheduling-preferences-placeholder"></div>
    <div class="danger-zone-placeholder"></div>
</div>
