<div class="col-xs-12">
    <div class="schedule-calendar">
        <div class="schedule-navigation-bar well card {{#displayTimezone}}short-bottom{{/displayTimezone}}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-sm-3">
                        <div class="btn-group btn-group-sm" role="group" aria-label="scheduling-navigation">
                            <button type="button" class="btn btn-default change-week left-arrow" data-direction="left">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default change-week right-arrow" data-direction="right">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="week-date-label col-md-5 col-sm-5">
                        <span class="week-title hidden-sm"></span>
                        <span class="week-title-mobile visible-sm"></span>
                        {{#displayTimezone}}
                        <div class="timezone-display {{#timezoneWarning}}warning{{/timezoneWarning}}">{{timezone}}</div>
                        {{/displayTimezone}}
                    </div>
                    <div class="col-md-5 col-sm-4 text-right">
                        <span class="view-attendance-container">
                            <button type="button" class="btn btn-default btn-sm secondary hidden" id="view-attendance">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> View Attendance
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="scheduling-messages"></div>
        <div class="wizard-placeholder"></div>
        <div class="role-demand-card-placeholder"></div>
        <div class="time-off-requests-card-placeholder"></div>
        <div class="week-summary-card-container"></div>
        <div id="modal-placeholder-new"></div>
        <div class="scheduling-shifts-container"></div>
        <div class="csv-download-placeholder"></div>
    </div>
</div>
