<div class="panel card">
    <div class="panel-heading page-header no-margin">
        <h3 class="panel-title">
        {{strings.title}}
        </h3>
    </div>
    <div class="container-fluid">
        <div class="scheduling-preferences {{uniqueId}}">
            {{#strings.infoMessage}}
            <div class="row">
                <div class="alert card-message alert-info">
                    {{strings.infoMessage}}
                </div>
            </div>
            {{/strings.infoMessage}}
            <h4>Total Hours Per Workweek</h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 form-group" data-param-name="min_hours_per_workweek">
                    <label>Min:</label>
                    <div class="dropdown indent">
                        <button class="btn btn-default dropdown-toggle" type="button" id="min_hours_per_workweek" data-toggle="dropdown" aria-expanded="true">
                            <span class="dropdown-value"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="min_hours_per_workweek"></ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 form-group" data-param-name="max_hours_per_workweek">
                    <label>Max:</label>
                    <div class="dropdown indent">
                        <button class="btn btn-default dropdown-toggle" type="button" id="max_hours_per_workweek" data-toggle="dropdown" aria-expanded="true">
                            <span class="dropdown-value"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="max_hours_per_workweek"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
