<div class="panel card working-hours-card">
    <div class="panel-heading page-header">
        <div class="pull-right">
            <button class="btn btn-default btn-sm button-align collapse-button collapse-button-working-hours" type="button" data-toggle="collapse" data-target=".working-hours-content">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
        </div>
        <h3 class="panel-title">Working Hours</h3>
    </div>
    <div class="container-fluid working-hours-content panel-collapse collapse in" data-collapse-id="working-hours">
        <div class="panel-body">
            <div class="card-description">
                Click and drag over the times to set when {{workerName}} may be scheduled every week. Use this to set recurring commitments so that {{workerName}} does not need to request these times off.
            </div>
            <div class="timegrid"></div>
            <div class="save-working-hours">
                <button type="button" class="btn btn-success btn-sm">Save</button>
            </div>
        </div>
    </div>
</div>
