{% extends "bootstrap.html" %}

{% block page_id %}sign-up{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>
                Request a Demo
            </h1>
            <h5 class="hidden-xs">
                Have a question? <a href="mailto:team@staffjoy.com">Email us</a>
            </h5>
            <!-- Change the width and height values to suit you best -->
        </div>
    </div>
</div>
<div class="typeform-widget" data-url="https://staffjoy.typeform.com/to/brGii0" data-text="Sign Up for Staffjoy" style="width:100%;height:600px;"></div>
            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
{% endblock %}
