<div class="container-fluid" id="kpis">
	<div class="row">
		<div class="col-xs-12 col-md-9">
			<div class="well card">
				<div class="people-scheduled-per-week highcharts-graph"></div>
			</div>
		</div>
		<div class="col-xs-12 col-md-3">
			<div class="well card people-clocked-in">
				<h2>Clocked In</h2>
				<div class="big">{{peopleClockedIn}}</div>
			</div>
			<div class="people-on-shifts well card">
				<h2>On Shifts</h2>
				<div class="big">{{peopleOnShifts}}</div>
			</div>
			<div class="well card people-online-in-last-day">
				<h2>Online In Last Day</h2>
				<div class="big">{{peopleOnlineInLastDay}}</div>
		</div>
	</div>
	<a href="#" class="start-kiosk-mode pull-right"><i class="glyphicon glyphicon-fullscreen
"></i> Kiosk Mode</a>
</div>
