<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-12 organization-new">
        <div class="panel panel-info card">
            <div class="panel-heading">
                <h1 class="panel-title">Create a New Organization</h1>
            </div>

            <div class="panel-body">
                <form method="post" class="form organization-add-form" role="form">
                    <div class="form-group required">
                        <label class="control-label" for="name">Name</label>
                        <input class="form-control" name="name" required="" type="text" placeholder="7 Bridges" id="organization-new-name">
                    </div>

                    <div class="form-group week-starts-on">
                        <label>Week Starts On</label>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="week_starts_on" data-toggle="dropdown" aria-expanded="true">
                                <span class="dropdown-value">Monday</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="week_starts_on">
                                <li role="presentation"><a class="dropdown-selection" role="menuitem" data-value="monday">Monday</a></li>
                                <li role="presentation"><a class="dropdown-selection" role="menuitem" data-value="tuesday">Tuesday</a></li>
                                <li role="presentation"><a class="dropdown-selection" role="menuitem" data-value="wednesday">Wednesday</a></li>
                                <li role="presentation"><a class="dropdown-selection" role="menuitem" data-value="thursday">Thursday</a></li>
                                <li role="presentation"><a class="dropdown-selection" role="menuitem" data-value="friday">Friday</a></li>
                                <li role="presentation"><a class="dropdown-selection" role="menuitem" data-value="saturday">Saturday</a></li>
                                <li role="presentation"><a class="dropdown-selection" role="menuitem" data-value="sunday">Sunday</a></li>
                            </ul>
                        </div>
                    </div>

                    <input class="btn btn-success submit-org-create action-button" id="submit" name="submit" type="submit" value="Create" >
                    <input class="btn btn-link cancel-org-create action-button btn-xs" id="submit" name="cancel" type="submit" value="Cancel" >
                </form>
            </div>
        </div>
    </div>
</div>
