<div class="panel card preferences-card">
    <div class="panel-heading page-header">
        <h3 class="panel-title">Planning</h3>
    </div>
    <div class="container-fluid preferences-content">
        <div class="panel-body preferences-body">
            <div class="card-description">
                Drag over the times that you prefer to work, and Staffjoy will try to put you in those times. For example, try ​<a class="set-preference" data-preference="mornings">mornings</a>​, ​<a class="set-preference" data-preference="afternoons">afternoons</a>, ​<a class="set-preference" data-preference="evenings">evenings</a>, or ​<a class="set-preference" data-preference="nights">nights</a>.
            </div>
            <div class="timegrid"></div>
            <div class="save-preferences pull-right">
                <button type="button" class="btn btn-success btn-sm">Save</button>
            </div>
        </div>
    </div>
</div>
