<div class="panel card availability">
    <div class="panel-heading page-header">
        <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="container-fluid">
        <div class="panel-body">
            <div class="card-description">
                Click and drag over the times to set when you are unavailable to work.
            </div>
            <div class="set-availability"></div>
            <div class="save-availability">
                <button type="button" class="btn btn-success btn-sm">Save</button>
            </div>
        </div>
    </div>
</div>
