{% extends "bootstrap.html" %}

{% block page_id %}confirm_free_trial{% endblock %}

{% block content %}
<div class="container auth-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="panel card">
                <div class="panel-heading page-header">
                    <h1 class="panel-title">Activate Your Trial</h1>
                </div>

                <div class="panel-body">
                    <!-- macro makes opening form -->
                    <p>
                        To finish setting up your free trial, check your email and click the activation link.
                    </p>
                    <p>
                        Need help? Email <a href="mailto:help@staffjoy.com">help@staffjoy.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



